/* COLORS */
$primary-color: #144248;
$secundary-color: #f4e9d8;
$accent-color: #e18371;

.errorPage{
  height: 800px;
text-align: center;
  h2{

    padding: 30px;
    padding-top: 100px;
    font-size: 90px;
    font-family: 'Rokkitt';
    font-weight: bold;
    line-height: normal;
  }
}
