/* COLORS */
$primary-color: #144248;
$secundary-color: #f4e9d8;
$accent-color: #e18371;

.detailDish{

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 1fr);

  .image{

    grid-column: 1 / 4;
    grid-row: 2 /5;

  }

  .info{
    grid-column: 5 / 8;
    grid-row: 2 /5;

    button:hover{
      background-color: $accent-color;
      color: $secundary-color;
    }
    .name{
      color: $accent-color;

      text-align: center;
      font-family: Rokkitt;
      font-weight: bold;
      font-size: 100px;
      line-height: normal;
    }

    .description{
      color: $secundary-color;

      text-align: center;
      font-family: Neutra;
      font-weight: 400;
      font-size: 50px;
      line-height: normal;
      margin: 20px;
    }
    .ingredients, .price{
      color: $secundary-color;

      text-align: center;
      font-family: Neutra;
      font-weight: 400;
      font-size: 20px;
      line-height: normal;
    }
  }

  .comments{
    background-color: rgba($color: $accent-color, $alpha: 0.7);
    grid-column: 3 / 7;
    grid-row: 5 / 7;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    text-align: center;
    color: $secundary-color;

    h2{
      color: $secundary-color;

      text-align: center;
      font-family: Neutra;
      font-weight: 400;
      font-size: 80px;
      line-height: normal;
    }

    .comment{
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      background-color: rgba($color: $secundary-color, $alpha: 0.4);
    }
  }

  .newComment{
    background-color: rgba($color: $accent-color, $alpha: 0.7);
    grid-column: 3 / 7;
    grid-row: 7;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: $secundary-color;
  }

}
