
<div class="welcome">
  <div class="image">
    <img src="/assets/img/place/entrada.png" alt="nectar">
  </div>
  <div class="text">
    <p>Una cuina que evoluciona cada dia.<br> Canvia, s'adapta i treballa amb els<br> recursos que ofereix la terra: València.</p>
  </div>
  <div class="premis">
    2 estreles Michelin<br>
    Estrela verda Michelin<br>
    96é Millor restaurant del món<br>
    7é Millor restaurant vegetal del món<br>
    3 Sols Repsol<br>
  </div>
  <div class="maxInfo">
    Una cuina personal, senzilla en aparença, <br>però complicada en la
    seua elaboració. <br>En la seua elegant proposta gastronòmica
     s’empren <br>tècniques innovadores que no es veuen,<br> però es perceben
      en el paladar.</div>
</div>
