<div class="shopList">
  <table mat-table class="mat-elevation-z8" [dataSource]="shoppingCart" aria-describedby="shopping cart"> 
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Plat</th>
      <td mat-cell *matCellDef="let dish"> {{dish.dish.name}} </td>
      <td mat-footer-cell *matFooterCellDef="let row"> Total </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Cantitat</th>
      <td mat-cell *matCellDef="let dish"> {{dish.quantity}} </td> 
      <tr mat-footer-cell *matFooterCellDef="let row"></tr>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Preu</th>
      <td mat-cell *matCellDef="let dish"> {{dish.dish.price | currency : 'EUR' }} </td> 
      <tr mat-footer-cell *matFooterCellDef="let row"> {{totalPrice() | currency : 'EUR' }} </tr>
    </ng-container>
  
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let dish">
        <button mat-icon-button (click)="removeDish(dish.dish)">
          <mat-icon>delete</mat-icon>
        </button>
      </td> 
      <tr mat-footer-cell *matFooterCellDef="let row"></tr>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  
  </table>

</div>
<div class="shopButtons">
  <button mat-raised-button (click)="removeCart()">Elimina</button>
  <button mat-raised-button (click)="[shopCart(), openSnackBar()]">Compra</button>
</div>